@import url('https://fonts.googleapis.com/css?family=Niramit:300,700');

body {
  font-family: 'Niramit', sans-serif;
  font-weight: 300;
}
/*   S T Y L E S    M A I N     C O M P O N E N T S       */

img,
.max50,
.max60 {
  max-width: 100%;
}
img.max80 {
  max-width: 80%;
}

a {
  text-decoration: none;
}
ul.no-style {
  list-style: none;
  padding-left: 20px;
  text-align: left !important;
  padding-bottom: 55px;
}

.section-padding {
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-padding-b {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .max50 {
    max-width: 50%;
  }
  .max60 {
    max-width: 60%;
  }
}

/*   S T Y L E S      H E I G H T S          */

.h100 {
  min-height: 100vh;
}
.h85 {
  min-height: 85vh;
}
.h75 {
  min-height: 75vh;
}
.h50 {
  min-height: 50vh;
}
.h40 {
  min-height: 40vh;
}

/*   S T Y L E S    B A C K G R O U N D S       */

.bg-black {
  background-color: #000;
}
.bg-gray {
  background-color: #f0f0f0;
}
.bg-red {
  background-color: #dc3545;
}
.bg-blue {
  background-color: #3782DD;
}
.bg-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f43030+0,2667f2+100,5a8bed+100,2667f2+100,5387ef+100,f43030+100,f43030+100,961c1e+100,7db9e8+100,2781f7+100,f43030+101,f43030+102 */
  background: #f43030; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43030', endColorstr='#f43030',GradientType=1 ); /* IE6-9 */
}

.bg-gradient2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#991e1e+0,d35656+50,c92020+100,c92020+100,e57b7b+100 */
  background: #991e1e; /* Old browsers */
  background: -moz-linear-gradient(left,  #991e1e 0%, #d35656 50%, #c92020 100%, #c92020 100%, #e57b7b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #991e1e 0%,#d35656 50%,#c92020 100%,#c92020 100%,#e57b7b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #991e1e 0%,#d35656 50%,#c92020 100%,#c92020 100%,#e57b7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#991e1e', endColorstr='#e57b7b',GradientType=1 ); /* IE6-9 */
}
.bg-healers {
  background: url(../images/healers.jpg) center no-repeat;
  background-size: cover;
}
.bg-faq {
  background: url(../images/faq.jpg) center no-repeat;
  background-size: cover;
}
.bg-brand {
  background: url(../images/brand.jpg) center no-repeat;
  background-size: cover;
}
.bg-loan {
  background: url(../images/loan.jpg) center no-repeat;
  background-size: cover;
}
.bg-about {
  background: url(../images/about.jpg) center no-repeat;
  background-size: cover;
}
.bg-contact {
  background: url(../images/contact.jpg) center no-repeat;
  background-size: cover;
}
.bg-terms {
  background: url(../images/terms.jpg) center no-repeat;
  background-size: cover;
}
.bg-privacy {
  background: url(../images/privacy.jpg) center no-repeat;
  background-size: cover;
}

/*   S T Y L E S    T E X T S       */
.max700 {
  max-width: 700px;
  margin: 0 auto;
}
.text-bold {
  font-weight: 700;
}
.text-red {
  color: #f43030;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000;
}

/*   S T Y L E S    I C O N S       */
.ti-2x {
  font-size: 2rem;
}
.ti-3x {
  font-size: 3rem;
}
.ti-4x {
  font-size: 4rem;
}
.ti-5x {
  font-size: 5rem;
}

/*   S T Y L E S    B U T T O N S       */

.btn-rounded {
  border-radius: 25px;
}

/*   S T Y L E S    I N T R O     */
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.card-tarjeteando {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 25px;
  position: relative;
  min-height: 350px;
}

.card-tarjeteando .header {
  padding: 20px 15px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  z-index: 3;
}

.card-tarjeteando .content {
  padding: 15px 15px 10px 15px;
}

.card-tarjeteando .button {
  position: absolute;
  width: 100% !important;
  bottom: 0px !important;
}

.card-home {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 25px;
  position: relative;
  /* min-height: 340px; */
}

.card-home .header {
  padding: 20px 15px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  z-index: 3;
}

.card-home .content {
  padding: 15px 15px 10px 15px;
}

.card-home .button {
  position: absolute;
  width: 90% !important;
  bottom: 15px !important;
}

/*   S T Y L E S    W O R K     */

.row-steps {
  text-align: left;
}

@media (min-width: 768px) {
  .row-steps {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
    margin-top: 80px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
}

.block-shadow {
  z-index: 9;
  -webkit-box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.1);
  -moz-box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.1);
  box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.1);
  padding: 40px 30px 30px;
  background-color: #fff;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
  min-height: 260px;
  margin-top: 30px;
}
.block-shadow i {
  font-size: 4em;
  color: #f43030;
}
.block-shadow h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*   S T Y L E S    F O R M S       */

.card-form {
  margin-top: -35%;
}
.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-tile-group .input-container {
  position: relative;
  height: 5rem;
  width: 8rem;
  margin: 0.5rem;
}
.radio-tile-group .input-container.checkbox {
  position: relative;
  height: 3rem;
  width: 8rem;
  margin: 0.5rem;
}

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #079ad9;
  border-radius: 5px;
  padding: 1rem;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.radio-tile-group .input-container.yellow .radio-tile {
  border: 2px solid #ffc107;
}
.radio-tile-group.usd .input-container .radio-tile {
  padding: 0.5rem;
}

.radio-tile-group .input-container .radio-tile .icon img {
  max-width: 80%;
  margin-left: 10%;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #079ad9;
  border: 2px solid #079ad9;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile.warning {
  background-color: #ffc107;
  border: 2px solid #ffc107;
  color: #000;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button.one:checked + .radio-tile {
  background-color: #18b5fd;
  border: 2px solid #18b5fd;
}
.radio-tile-group .input-container .radio-button.two:checked + .radio-tile {
  background-color: #802ff1;
  border: 2px solid #802ff1;
}
.radio-tile-group .input-container .radio-button.three:checked + .radio-tile {
  background-color: #ff7900;
  border: 2px solid #ff7900;
}
.radio-tile-group .input-container .radio-button.four:checked + .radio-tile {
  background-color: #df0f4e;
  border: 2px solid #df0f4e;
}

.radio-tile-group .input-container .icon .fa {
  color: #000;
}
.radio-tile-group .input-container .radio-tile .icon i {
  color: #fff;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon i {
  color: #fff;
}

.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.65rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #079ad9;
  margin-bottom: 0;
}
.radio-tile-group .input-container .radio-tile-label.bolean {
  font-size: 0.95rem;
}
.radio-tile-group .input-container.yellow .radio-tile-label {
  color: #000;
}

.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .radio-tile-label {
  color: #fff;
  background-color: transparent;
}
.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile.warning
  .radio-tile-label {
  color: #000;
  background-color: transparent;
}

.hidden-box {
  display: none;
}
.box-check {
  width: 100%;
  margin: 0 auto;
}
.box-check p {
  text-align: left;
  font-size: 14px;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  position: relative;
  padding-left: 95px;
  cursor: pointer;
}
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  content: '';
  position: absolute;
}
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before {
  left: 0;
  top: 0;
  width: 80px;
  height: 30px;
  background: #dddddd;
  border-radius: 6px;
  transition: background-color 0.2s;
}
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
  border-radius: 6px 0 0 6px;
  background: #7f8c9a;
  top: 0;
  left: 0;
}

/* on checked */
[type='checkbox']:checked + label:before {
  background: #daf4ff;
}
[type='checkbox']:checked + label.zen.option2:before {
  background: #eeb900;
}
[type='checkbox']:checked + label:after {
  background: #058fcc;
  top: 0;
  left: 51px;
  border-radius: 0 6px 6px 0;
}
[type='checkbox']:checked + label.zen.option2:after {
  background: #ed9108;
}

[type='checkbox']:checked + label .ui,
[type='checkbox']:not(:checked) + label .ui:before,
[type='checkbox']:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  transition: all 0.2s;
}
[type='checkbox']:checked + label {
  color: #058fcc;
}
[type='checkbox']:checked + label.zen.option2 {
  color: #ffc107;
}

[type='checkbox']:not(:checked) + label .ui:before {
  font-family: 'themify';
  content: '\e64c';
  left: 46px;
  margin-top: 3px;
  color: #ccc;
}
[type='checkbox']:checked + label .ui:after {
  font-family: 'themify';
  content: '\e64c';
  color: #058fcc;
  margin-top: 3px;
  left: 12px;
}
[type='checkbox']:checked + label.zen.option2 .ui:after {
  font-family: 'themify';
  content: '\e64c';
  color: #fff;
  margin-top: 3px;
  left: 12px;
}
[type='checkbox']:focus + label:before {
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

select {
  border-radius: 25px;
  -webkit-appearance: none;
}

.arrow-select {
  position: absolute;
  top: 45px;
  right: 25px;
  color: #000;
}

ul.list {
  list-style: none;
  text-align: left;
}
ul.list.last {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #484848;
}

ul.list li {
  margin-bottom: 5px;
}
ul.list.last a {
  font-weight: 400;
}
ul.list li::before {
  content: '\e628';
  font-family: themify;
  font-size: 12px;
  color: #058fcc;
  margin-right: 5px;
}

footer p {
  font-size: 12px;
  color: #fff;
}

.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.soc li a {
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  font-size: 19px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 7px;
  color: #fff;
  background-color: #058fcc;
  padding-top: 3px;
}

@media (min-width: 992px) {
  .card-form {
    margin-top: -25%;
  }

  ul.list.last {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #484848;
    border-top: none;
  }

  footer p {
    font-size: 14px;
  }
}

/*   S T Y L E S    S P I N N E R   */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #3782DD transparent #3782DD transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.spinner-white:after {
  border-color: #fff transparent #fff transparent !important;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
