<section id="home" class="h40 d-flex align-items-center bg-brand section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Anuncia tu marca</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" class="py-5 d-flex align-items-center h100" ng-app="app">
	<div class="container" ng-controller="email">
		<div class="row justify-content-center">
			<div class="col col-sm-8 col-lg-7 mb-5">
				<h2 class="font-weight-bold h5 text-red">Anuncia tu marca con nosotros</h2>
				<p>tarjeteando.com es la primer plataforma en México que ofrece a sus clientes tráfico calificado y listo para comprar/aplicar por tu producto o servicio. Nuestro sistema de eliminación nos permite enviar a un usuario únicamente cuando estamos seguros de que cumple con las características que nuestro cliente necesita.</p>
				<p>Además, nuestros clientes únicamente nos pagan cuando los usuarios que enviamos se convierten en una venta, por lo que nunca perderás al anunciarte con nosotros</p>
				<p>Si quieres más información, por favor llena este breve cuestionario:</p>

			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-sm-8 col-lg-7">
				<form action="" form name="frm" novalidate>
					<div class="form-group">
						<label for="">Nombre completo</label>
						<input type="text" class="form-control btn-rounded" placeholder="" ng-model="f.name" name="name" ng-pattern="lettersForNames" required>
						<small id="" class="form-text text-warning" ng-if="(frm.name.$invalid && !frm.name.$pristine) || (frm.name.$invalid && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<div class="form-group">
						<label for="">Correo electrónico</label>
						<input type="email" class="form-control btn-rounded" id="" placeholder="" ng-model="f.email" name="email" ng-pattern="emailExpression" required>
						<small id="" class="form-text text-warning" ng-if="(frm.email.$invalid && !frm.email.$pristine) || (frm.email.$invalid && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<div class="form-group">
						<label for="">Teléfono</label>
						<input type="tel" class="form-control btn-rounded" id="" placeholder="" ng-model="f.phone" name="phone" ng-pattern="onlyNumbers" required limit-to="10" ng-maxlength="10" ng-minlength="10">
						<small id="" class="form-text text-warning" ng-if="(frm.phone.$invalid && !frm.phone.$pristine) || (frm.phone.$invalid && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<hr>
					<div class="form-group form-check mb-5">
						<div class="box-check">
							<p><input class="cbx" type="checkbox" id="1" ng-model="product_1" ng-change="change('Préstamos Personales')" /><label class="zen" for="1"><span class="ui"></span>Préstamos Personales</label></p>

							<p><input class="cbx" type="checkbox" id="3" ng-model="product_3" ng-change="change('Tarjetas de crédito')" /><label class="zen" for="3"><span class="ui"></span>Tarjetas de crédito</label></p>

							<p><input class="cbx" type="checkbox" id="4" ng-model="product_4" ng-change="change('Créditos Hipotecarios')" /><label class="zen" for="4"><span class="ui"></span>Créditos Hipotecarios</label></p>

							<p><input class="cbx" type="checkbox" id="5" ng-model="product_5" ng-change="change('Créditos Automotrices')" /><label class="zen" for="5"><span class="ui"></span>Créditos Automotrices</label></p>

							<p><input class="cbx" type="checkbox" id="2" ng-model="product_2" ng-change="change('Seguros de auto')" /><label class="zen" for="2"><span class="ui"></span>Seguros de auto</label></p>

							<p><input class="cbx" type="checkbox" id="6" ng-model="product_6" ng-change="change('Seguros de vida')" /><label class="zen" for="6"><span class="ui"></span>Seguros de vida</label></p>

							<p><input class="cbx" type="checkbox" id="7" ng-model="product_7" ng-change="change('Otro')" /><label class="zen" for="7"><span class="ui"></span>Otro</label></p>
						</div>
						<small id="" class="form-text text-warning" ng-if="(f.products.length < 1) || (!f.products.length && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<a class="btn btn-primary btn-block btn-rounded" ng-disabled="frm.$invalid" ng-click="sendEmail(frm.$valid && f.products.length > 0); frm.$submitted=true">Enviar <i class="fa fa-spinner fa-spin" style="font-size:24px" ng-if="sending"></i></a>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
