<section id="home" class="h40 d-flex align-items-center bg-healers section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Sanadores de deuda</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" ng-app="app" ng-controller="pages as vm" ng-cloak>
  <div class="py-5 d-flex align-items-center h100"  ng-bind-html="page.htmlContent"></div>
<script src="/js/angular.min.js"></script>
<script src="/js/app.js"></script>
</section>
