<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-tarjeteando card-form">
					<div class="header bg-blue text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas 5 preguntas</h1>
					</div>
					<div class="content p-4">
						<p class="font-weight-bold">Responde "Sí" o "No" en cada una de las siguientes preguntas. Después, haz clic en <span class="badge badge-warning">Siguiente</span></p>
						<div class="radio-tile-group text-center">
							<p class="mb-0">¿Tienes o haz tenido un crédito hipotecario en los últimos 6 meses?</p>
							<div class="input-container">
								<input id="walk" class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<div class="icon walk-icon">

									</div>
									<label for="walk" class="radio-tile-label bolean">Sí</label>
								</div>
							</div>
							<div class="input-container">
								<input id="walk" class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<div class="icon walk-icon">

									</div>
									<label for="walk" class="radio-tile-label bolean">No</label>
								</div>
							</div>

							<p class="mb-0 mt-4">¿Tienes o haz tenido un crédito automotriz en los últimos 6 meses?</p>
							<div class="input-container">
								<input id="walk" class="radio-button" type="radio" name="radio2" />
								<div class="radio-tile">
									<div class="icon walk-icon">

									</div>
									<label for="walk" class="radio-tile-label bolean">Sí</label>
								</div>
							</div>


							<div class="input-container">
								<input id="bike" class="radio-button" type="radio" name="radio2" />
								<div class="radio-tile">
									<div class="icon bike-icon">

									</div>
									<label for="bike" class="radio-tile-label bolean">No</label>
								</div>
							</div>


							<p class="mb-0 mt-4">¿Tienes o haz tenido una tarjeta de crédito vigente en los últimos 6 meses?</p>
							<div class="input-container">
								<input id="walk" class="radio-button" type="radio" name="radio3" />
								<div class="radio-tile">
									<div class="icon walk-icon">

									</div>
									<label for="walk" class="radio-tile-label bolean">Sí</label>
								</div>
							</div>


							<div class="input-container">
								<input id="bike" class="radio-button" type="radio" name="radio3" />
								<div class="radio-tile">
									<div class="icon bike-icon">

									</div>
									<label for="bike" class="radio-tile-label bolean">No</label>
								</div>
							</div>

							<p class="mb-0 mt-4">¿Estás al corriente en los pagos de todos tus créditos y/o tarjetas?</p>
							<div class="input-container">
								<input id="walk" class="radio-button" type="radio" name="radio4" />
								<div class="radio-tile">
									<div class="icon walk-icon">

									</div>
									<label for="walk" class="radio-tile-label bolean">Sí</label>
								</div>
							</div>


							<div class="input-container">
								<input id="bike" class="radio-button" type="radio" name="radio4" />
								<div class="radio-tile">
									<div class="icon bike-icon">

									</div>
									<label for="bike" class="radio-tile-label bolean">No</label>
								</div>
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col">
								<a href="/step1" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a href="/step3" class="btn btn-warning btn-rounded font-weight-bold btn-block">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
